{
  "presets": ["@babel/preset-typescript", "@babel/env"],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      { "allowNamespaces": true, "allowDeclareFields": true }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul"]
      ]
    }
  }
}
