{
  "presets": ["@babel/env", "@babel/typescript"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul"]
      ]
    }
  }
}
